.bn-container {
  --bn-colors-editor-background: transparent !important;
}

[data-level="1"] {
  --level: 1.8rem !important
;
}

[data-level="2"] {
  --level: 1.4rem !important
;
}

[data-level="3"] {
  --level: 1.2rem !important
;
}
